/* modal */
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container-sm {
  width: 20%;
  height: 5%;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-container {
  width: 50%;
  height: 50%;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-default-button {
  float: right;
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* star rating */
.star-rating {width:90px; }
.star-rating,.star-rating span {display:inline-block; height:16px; overflow:hidden; background:url("/images/star.png")no-repeat; }
.star-rating span{background-position:left bottom; line-height:0; vertical-align:top; }

.star-box {
  display: inline-flex;
}
.star{
  width: 9px;
  height: 16px;
  cursor: pointer;
}
.star_left{
  background: url("/images/star_empty_left.png") no-repeat;
  margin-right: -0.5px;
}
.star_right{
  background: url("/images/star_empty_right.png") no-repeat;
  margin-left: -0.5px;
}
.star.on_left{
  background: url("/images/star_full_left.png") no-repeat;
}
.star.on_right{
  background: url("/images/star_full_right.png") no-repeat;
}
